<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyworth.mapper.ApplyMapper">

    <insert id="save">
        INSERT INTO apply(applicant_id,resume_id,company_id,pro_id,apply_state,apply_mark)
        values(#{applicantId},#{resumeId},#{companyId},#{proId},#{applyState},#{applyMark})
    </insert>

    <update id="update">
        UPDATE apply
        <set>
            <if test="applicantId != null">
                applicant_id = #{applicantId},
            </if>
            <if test="resumeId != null">
                resume_id = #{resumeId},
            </if>
            <if test="companyId != null">
                company_id = #{companyId},
            </if>
            <if test="proId != null">
                pro_id = #{proId},
            </if>
            <if test="applyState != null">
                apply_state = #{applyState},
            </if>
            <if test="applyMark != null">
                apply_mark = #{applyMark}
            </if>
            WHERE id = #{id}
        </set>
    </update>

    <delete id="deleteByUser">
        DELETE FROM apply
        WHERE applicant_id = #{applicantId} AND pro_id = #{proId}
    </delete>
    <delete id="delete">
        DELETE FROM apply
        WHERE id = #{id}
    </delete>

    <select id="findApplyByUserId" resultType="com.skyworth.model.Apply">
        SELECT * FROM apply
        WHERE applicant_id = #{applicantId}
    </select>
    <select id="findById" resultType="com.skyworth.model.Apply">
        SELECT * FROM apply
        WHERE id = #{id}
    </select>
    <select id="findByCompanyId" resultType="applicationsMap">
        SELECT * FROM apply
        WHERE company_id = #{companyId}
        ORDER BY apply_mark DESC, id DESC
    </select>
    <select id="findByProjectId" resultType="applicationsMap">
        SELECT * apply
        WHERE pro_id = #{projectId}
        ORDER BY apply_mark DESC, id DESC
    </select>
    <select id="completedApplications" resultType="java.lang.Long">
        SELECT count(id) FROM apply
        WHERE apply_state = 3 AND resume_id = #{resume_id}
    </select>
    <resultMap id="applicationsMap" type="com.skyworth.model.Apply">
        <id column="id" property="id"/>
        <result column="applicant_id" property="applicantId"/>
        <result column="resume_id" property="resumeId"/>
        <result column="company_id" property="companyId"/>
        <result column="pro_id" property="proId"/>
        <result column="apply_state" property="applyState"/>
        <result column="apply_mark" property="applyMark"/>
    </resultMap>
</mapper>