<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyworth.mapper.CompanyInfoMapper">


    <insert id="save">
        INSERT INTO company_info(company_id,company_logo,company_realname,company_location,company_major,company_description)
        VALUES (#{companyId},#{companyLogo},#{companyRealname},#{companyLocation},#{companyMajor},#{companyDescription})
    </insert>
    <update id="updateInfo">
        update company_info
        <set>
            <if test="companyLogo != null">
                company_logo = #{companyLogo,jdbcType=VARCHAR},
            </if>
            <if test="companyRealname != null">
                company_realname = #{companyRealname,jdbcType=VARCHAR},
            </if>
            <if test="companyLocation != null">
                company_location = #{companyLocation,jdbcType=VARCHAR},
            </if>
            <if test="companyMajor != null">
                company_major = #{companyMajor,jdbcType=VARCHAR},
            </if>
            <if test="companyDescription != null">
                company_description = #{companyDescription,jdbcType=VARCHAR}
            </if>
        </set>
        where company_id = #{companyId,jdbcType=INTEGER}
    </update>
    <delete id="delete">
        DELETE FROM company_info
        WHERE company_id = #{companyId}
    </delete>
    <select id="findInfo" resultType="com.skyworth.model.CompanyInfo">
        SELECT *
        FROM company_info
        WHERE company_id = #{companyId};
    </select>


</mapper>