<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyworth.mapper.ResumeMapper">

    <insert id="save">
        INSERT INTO
        resume(user_id, resume_img, resume_realname, resume_sex, resume_birth, resume_education, resume_school, resume_major, resume_mailbox, resume_phonenum, resume_sch_experience, resume_work_experience)
        VALUES (#{userId},#{resumeImg},#{resumeRealname},#{resumeSex},#{resumeBirth},#{resume_education},#{resumeSchool},#{resumeMajor},#{resumeMailbox},#{resumePhonenum},#{resumeSchExperience},#{resumeWorkExperience})
    </insert>
    <update id="update">
        update resume
        <set>
            <if test="resumeImg != null">
                resume_img = #{resumeImg,jdbcType=VARCHAR},
            </if>
            <if test="resumeRealname != null">
                resume_realname = #{resumeRealname,jdbcType=VARCHAR},
            </if>
            <if test="resumeSex != null">
                resume_sex = #{resumeSex,jdbcType=VARCHAR},
            </if>
            <if test="resumeBirth != null">
                resume_birth = #{resumeBirth,jdbcType=VARCHAR},
            </if>
            <if test="resumeEducation != null">
                resume_education = #{resumeEducation,jdbcType=VARCHAR},
            </if>
            <if test="resumeSchool != null">
                resume_school = #{resumeSchool,jdbcType=VARCHAR},
            </if>
            <if test="resumeMajor != null">
                resume_major = #{resumeMajor,jdbcType=VARCHAR},
            </if>
            <if test="resumeMailbox != null">
                resume_mailbox = #{resumeMailbox,jdbcType=VARCHAR},
            </if>
            <if test="resumePhonenum != null">
                resume_phonenum = #{resumePhonenum,jdbcType=VARCHAR},
            </if>
            <if test="resumeSchExperience != null">
                resume_sch_experience = #{resumeSchExperience},
            </if>
            <if test="resumeWorkExperience != null">
                resume_work_experience = #{resumeWorkExperience}
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <delete id="delete">
        DELETE FROM resume
        WHERE id = #{id}
    </delete>

    <select id="findByUserId" resultType="com.skyworth.model.Resume">
        SELECT *
        FROM resume
        WHERE user_id = #{userId}
    </select>
    <select id="countByUserId" resultType="java.lang.Integer">
        SELECT count(id)
        FROM resume
        WHERE user_id = #{userId}
    </select>


</mapper>