<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyworth.mapper.ResumeMapper">

    <insert id="save">
        INSERT INTO
        resume(user_id, resume_img, resume_realname, resume_sex, resume_birth, resume_education, resume_school, resume_major, resume_profession_type, resume_profession, resume_province, resume_mailbox, resume_phonenum, resume_sch_experience, resume_work_experience)
        VALUES (#{userId},#{resumeImg},#{resumeRealname},#{resumeSex},#{resumeBirth},#{resumeEducation},#{resumeSchool},#{resumeMajor},#{resumeProfessionType},#{resumeProfession},#{resumeProvince},#{resumeMailbox},#{resumePhoneNum},#{resumeSchExperience},#{resumeWorkExperience})
    </insert>
    <update id="update">
        update resume
        <set>
            <if test="resumeImg != null">
                resume_img = #{resumeImg,jdbcType=VARCHAR},
            </if>
            <if test="resumeRealname != null">
                resume_realname = #{resumeRealname,jdbcType=VARCHAR},
            </if>
            <if test="resumeSex != null">
                resume_sex = #{resumeSex,jdbcType=VARCHAR},
            </if>
            <if test="resumeBirth != null">
                resume_birth = #{resumeBirth,jdbcType=VARCHAR},
            </if>
            <if test="resumeEducation != null">
                resume_education = #{resumeEducation,jdbcType=VARCHAR},
            </if>
            <if test="resumeSchool != null">
                resume_school = #{resumeSchool,jdbcType=VARCHAR},
            </if>
            <if test="resumeMajor != null">
                resume_major = #{resumeMajor,jdbcType=VARCHAR},
            </if>
            <if test="resumeProfessionType != null">
                resume_profession_type = #{resumeProfessionType,jdbcType=VARCHAR},
            </if>
            <if test="resumeProfession != null">
                resume_profession = #{resumeProfession,jdbcType=VARCHAR},
            </if>
            <if test="resumeProvince != null">
                resume_province = #{resumeProvince,jdbcType=VARCHAR},
            </if>
            <if test="resumeMailbox != null">
                resume_mailbox = #{resumeMailbox,jdbcType=VARCHAR},
            </if>
            <if test="resumePhoneNum != null">
                resume_phonenum = #{resumePhoneNum,jdbcType=VARCHAR},
            </if>
            <if test="resumeSchExperience != null">
                resume_sch_experience = #{resumeSchExperience},
            </if>
            <if test="resumeWorkExperience != null">
                resume_work_experience = #{resumeWorkExperience}
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <delete id="delete">
        DELETE FROM resume
        WHERE id = #{id}
    </delete>
    <select id="findById" resultType="com.skyworth.model.Resume">
        SELECT *
        FORM resume
        WHERE id = #{resumeId}
    </select>
    <select id="findByUserId" resultType="com.skyworth.model.Resume">
        SELECT *
        FROM resume
        WHERE user_id = #{userId}
    </select>
    <select id="countByUserId" resultType="java.lang.Integer">
        SELECT count(id)
        FROM resume
        WHERE user_id = #{userId}
    </select>
    <select id="findResumesByMajor" resultMap="resumeMap">
        SELECT DISTINCT r.*
        FROM resume r
        INNER JOIN subscribe s
        ON r.user_id = s.user_id
        WHERE s.sub_type = #{majorType}
        ORDER BY r.id DESC
    </select>
    <select id="findResumesByLocation" resultMap="resumeMap">
        SELECT r.*
        FROM resume r
        INNER JOIN user_info u
        ON r.user_id = u.user_id
        WHERE u.user-province = #{location}
        ORDER BY r.id DESC
    </select>
    <select id="findResumesByConditions" resultMap="resumeMap">
        SELECT * FROM resume
        <where>
            <if test="resumeProfession != null">
                resume_profession LIKE CONCAT ('%',#{profession},'%')
            </if>
            <if test="resumeProfessionType != null">
                AND resume_profession_type = #{resumeProfessionType}
            </if>
            <if test="resumeProvince != null">
                AND resume_province = #{resumeProvince}
            </if>
        </where>
    </select>

    <resultMap id="resumeMap" type="com.skyworth.model.Resume">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="resume_img" property="resumeImg"/>
        <result column="resume_realname" property="resumeRealname"/>
        <result column="resume_sex" property="resumeSex"/>
        <result column="resume_birth" property="resumeBirth"/>
        <result column="resume_education" property="resumeEducation"/>
        <result column="resume_school" property="resumeSchool"/>
        <result column="resume_major" property="resumeMajor"/>
        <result column="resume_profession_type" property="resumeProfessionType"/>
        <result column="resume_profession" property="resumeProfession"/>
        <result column="resumeProvince" property="resumeProfession"/>
        <result column="resume_mailbox" property="resumeMailbox"/>
        <result column="resume_phonenum" property="resumePhoneNum"/>
        <result column="resume_sch_experience" property="resumeSchExperience"/>
        <result column="resume_work_experience" property="resumeWorkExperience"/>
    </resultMap>

</mapper>