<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyworth.mapper.TargetMapper">

    <insert id="save">
        INSERT INTO
        target(stage_id, target_deadline, target_detail, target_state)
        VALUES(#{stageId},#{targetDeadline},#{targetDetail},#{targetState})
    </insert>
    <update id="update">
        UPDATE target
        <set>
            <if test="targetDeadline != null">
                target_deadline = #{targetDeadline,jdbcType=INTEGER},
            </if>
            <if test="targetDetail != null">
                target_detail = #{targetDetail},
            </if>
            <if test="targetState !+ null">
                targetState = #{targetState}
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM target
        WHERE id = #{id}
    </delete>
    <delete id="deleteByBatch">
        DELETE FROM target
        WHERE id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findByStageId" resultMap="targetMap">
        SELECT *
        FROM target
        WHERE stage_id = #{stageId}
    </select>
    <select id="allTargetsOneStage" resultType="java.lang.Integer">
        SELECT count(id) FROM target
        WHERE stage_id = #{stageId}
    </select>
    <select id="completedTargetsOneStage" resultType="java.lang.Integer">
        SELECT count(id) FROM target
        WHERE stage_id = #{stageId} AND target_stage = 1
    </select>
    <select id="findById" resultType="com.skyworth.model.Target">
        SELECT * FROM target
        WHERE id = #{id}
    </select>
    <update id="targetCompleted">
        UPDATE target
        <set>
            target_state = 1
        </set>
        WHERE id = {targetId}
    </update>
    <resultMap id="targetMap" type="com.skyworth.model.Target">
        <id column="id" property="id"/>
        <result column="stage_id" property="stageId"/>
        <result column="target_deadline" property="targetDeadline"/>
        <result column="target_detail" property="targetDetail"/>
        <result column="target_state" property="targetState"/>
        <result column="modification_time" property="modificationTime"/>
    </resultMap>

</mapper>