<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyworth.mapper.HostRoleMapper">

    <insert id="saveUserRole">
        INSERT INTO user_role(user_id, role_id)
        VALUES (#{userId},#{roleId})
    </insert>

    <insert id="saveCompanyRole">
        INSERT INTO company_role(company_id, role_id)
        VALUES (#{company_id},#{roleId})
    </insert>
    <update id="updateByUserId">
        UPDATE user_role
        SET role_id = #{newRoleId}
        WHERE user_id = #{userRole.userId} AND role_id = #{userRole.roleId}
    </update>
    <update id="updateByCompanyId">
        UPDATE company_role
        SET role_id = #{roleId}
        WHERE company_id = #{companyRole.companyId} AND role_id = #{companyRole.roleId}
    </update>
    <select id="findUserRoleById" resultMap="userRoleMap">
        SELECT * FROM user_role
        WHERE user_id = #{userId}
    </select>
    <select id="findCompanyRoleById" resultMap="companyRoleMap">
        SELECT * FROM company_role
        WHERE company_id = #{companyId}
    </select>

    <resultMap id="userRoleMap" type="com.skyworth.model.UserRole">
        <id column="user_id" property="userId"/>
        <id column="role_id" property="roleId"/>
    </resultMap>

    <resultMap id="companyRoleMap" type="com.skyworth.model.CompanyRole">
        <id column="company_id" property="companyId"/>
        <id column="role_id" property="roleId"/>
    </resultMap>

</mapper>